<h1>PsyKzz</h1>

<hr />

{% if is_post %}
<div class="smaller float-right">
  <img alt="Profile picture" src="https://s.gravatar.com/avatar/d960efea0acdeefdfde2df97d923c879?s=400&r=r" />
</div>
{% else %}
<div>
  <img src="https://s.gravatar.com/avatar/d960efea0acdeefdfde2df97d923c879?s=400&r=r" />
</div>
{% endif %}

<div id='page-content'>
  {{content}}
</div>

<div id='social-section'>
  <h3>Social Networks</h3>
  <ul>
    <li><a href="//github.com/psykzz">github</a></li>
    <li><a href="//twitch.tv/psykzz">twitch</a></li>
  </ul>
</div>

<div id='contact-section'>
  <h3>Contact me</h3>
  <p>Email: matt.daemon660 [at] gmail.com</p>
</div>

<div id='recent-posts'>
  <h3>Recent blog posts</h3>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
