<h1>Matt Smith</h1>

<hr />

<div class="{% if page.is_post %}smaller float-right{% endif %}">
  {% if page.is_post %}<div><a href="/">« Go Back</a></div>{% endif %}
  <img alt="Profile picture" src="https://s.gravatar.com/avatar/82ef898d34199d47d597cdde04029dd8?s=400&r=r" />
</div>

{% if page.is_post %}
<div id='page-content'>
  {{content}}
</div>

<hr />
{% endif %}

<div class='row'>
  <div class='col-3' id='recent-posts'>
    <h3>Recent blog posts</h3>
    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class='col-3' id='social-section'>
    <h3>Social Networks</h3>
    <ul>
      <li><a href="//github.com/psykzz">github</a></li>
      <li><a href="//linkedin.com/in/psykzz">linked in</a></li>
      <li><a href="//twitter.com/psykzz">twitter</a></li>
    </ul>
  </div>

  <div class='col-3' id='contact-section'>
    <h3>Contact me</h3>
    <p>Email: matt.daemon660 [at] gmail.com</p>
  </div>
</div>
