<div class="voting float-right">
  <div id="{{include.id}}-vote-up" class="vote-up">+1</div>
  <div id="{{include.id}}-vote-down" class="vote-down">-1</div>
  <script defer async>
  var ele = document.getElementById("{{include.id}}-vote-up");
  ele.addEventListener('click', function() {
    fetch('d.psykzz.co.uk:8081/vote', {
      method: 'POST',
      body: {
        key: '{{include.id}}',
        vote: 1
      }
    })
  })
  var ele = document.getElementById("{{include.id}}-vote-down");
  ele.addEventListener('click', function() {
    fetch('d.psykzz.co.uk:8081/vote', {
      method: 'POST',
      body: {
        key: '{{include.id}}',
        vote: -1
      }
    })
  })
  </script>
</div>
