---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %} {{ page.title }}
    {% else %} {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">

  <link href="{{ site.url }}/images/favicon.png" rel="icon">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
  <link href="{{ site.url }}/css/style.css" rel="stylesheet">
</head>
<body>
  <div id='tglsrs'>toggle serious-ness</div>
  <div class='container serious'>
    {% include srs.html %}
  </div>
  <div class='container not-so-serious hidden'>
    {% include not-srs.html %}
  </div>

  <script type="text/javascript">
    var srsSection = document.querySelector('.serious')
    var notSoSrsSection = document.querySelector('.not-so-serious')
    var toggleSrs = document.querySelector('#tglsrs')
    toggleSrs.addEventListener('click', function(e) {
      srsSection.classList.toggle('hidden')
      notSoSrsSection.classList.toggle('hidden')
    });
  </script>
</body>
</html>
